.section {
  &__special {
    padding: 110px 0;

    @media (max-width: $breakpoint-xl) {
      padding: 75px 0;
    }
  }
}

.special {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 50px;

  @media (max-width: $breakpoint-xl) {
    gap: 20px;
  }
  @media (max-width: $breakpoint-sm) {
    gap: 10px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    border: 1px solid #efeff4;
    border-radius: 8px;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 346px;

    @media (max-width: $breakpoint-xl) {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 48%;
      padding: 40px;
    }
    @media (max-width: $breakpoint-md) {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 100%;
      padding: 25px;
    }
    @media (max-width: $breakpoint-xs) {
      padding: 15px;
    }

    &:first-child {
      border: none;
      padding: 0;
      padding-right: 60px;
      justify-content: center;
    }

    &:not(:first-child):hover {
      background: #fafbfd;
      border: 1px solid #fafbfd;
      transition: 0.3s all ease;

      .special__item-img {
        background: #ffffff;
        box-shadow: 0px 6px 15px rgba(35, 36, 39, 0.05);
        transition: 0.3s all ease;
      }
    }
  }

  &__item-img {
    width: 77px;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafbfd;
    border-radius: 50%;

    @media (max-width: $breakpoint-md) {
      width: 60px;
      height: 60px;
    }
  }

  &__item-title {
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    margin-top: 40px;
    color: $primary;

    @media (max-width: $breakpoint-lg) {
      margin-top: 20px;
    }
    @media (max-width: $breakpoint-md) {
      margin-top: 10px;
    }
  }

  &__item-text {
    margin-top: 16px;
    color: $secondary-light;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
}
