// Container & Breakpoints

$containerWidth: 1080;
$containerPadding: 40;
$containerSidePadding: 20;

$breakpoint-xs: 479.98px;
$breakpoint-sm: 575.98px;
$breakpoint-md: 767.98px;
$breakpoint-lg: 991.98px;
$breakpoint-xl: 1199.98px;

$burger-breakpoint: $breakpoint-md;

// Colors
$primary: #232427;
$secondary: #5E5C6C;
$secondary-light: #9998A4;
$neutral: #2962EF;
$neutral-dark: #2352c8;
